.cards-container {
  margin-top: 10rem;
  margin-bottom: 10rem;

  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}

.buttom-cards {
  width: 100%;
  background-color: #01194f;
  border: none;
}

.cards-container .card {
  width: 250px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards-container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.cards-container .card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.cards-container .card:hover img {
  transform: scale(1.05);
}
