.img-1,
.img-2,
.img-3 {
  border-radius: 1rem;
  width: 100%;
  max-width: 80rem;
  height: auto;
  object-fit: cover;
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.carousel-control-prev::after,
.carousel-control-next::after {
  margin-left: -4rem;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.carousel-control-prev::after {
  content: "⦑";
}

.carousel-control-next::after {
  content: "⦒";
}
