.scrollable {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #d0d0d0 #ffffff;
}

.scrollable::-webkit-scrollbar {
  width: 6px;
}

.scrollable::-webkit-scrollbar-track {
  background: #ffffff;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #d0d0d0;
  border-radius: 10px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./components/img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: fixed;
  opacity: 0.5;
  z-index: -1;
}

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 8px -2px rgba(46, 68, 102, 0.7);
  min-height: 70vh;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1;
}
