.background-logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.04;
  z-index: -1;
  pointer-events: none;
}


html, body {
  height: 100%;
  scrollbar-width: thin;            
}




.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 8px -2px rgba(46, 68, 102, 0.7);
  min-height: 70vh;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1;
}

* {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .background-logo {
    display: none;
  }
}
