.container-about-us {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.container-about-us .main-info-card {
  background: white;
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  max-width: 800px;
  margin: 0 auto 2rem auto;
  text-align: center;
}

.main-banner {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}